
/*SEC*/

/*ABOUT*/


#about {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/*mc.png*/

#mcpng {
    max-width: 1200px;
    max-height: 500px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 40px;
    position: absolute; /* Umožňuje nastavit pozici */
    top: 230px; /* Nastavení souřadnice y */
    left: 1550px; /* Nastavení souřadnice x */
    transition: transform 0.3s ease-in-out; /* Hladká animace při zmenšení */
}

#mcpng:active {
    transform: scale(0.001); /* Zmenšení obrázku na 0.001 při kliknutí */
    transition: transform 0.5s ease-in-out; /* Animace pro zmenšení */
}

/*subdomain.png*/

#subdomainpng {
    max-width: 570px;
    max-height: 220px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 40px;
    position: absolute; /* Umožňuje nastavit pozici */
    top: 240px; /* Nastavení souřadnice y */
    left: 10px; /* Nastavení souřadnice x */
    transition: transform 0.3s ease-in-out; /* Hladká animace při zmenšení */
}

/*whatisthesubdomain*/

#whatisthesubdomain {
    max-width: 300px;
    max-height: 500px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 15px;
    position: absolute; /* Umožňuje nastavit pozici */
    top: 450px; /* Nastavení souřadnice y */
    left: 35px; /* Nastavení souřadnice x */
}

#whatisthesubdomain h2 {
    font-size: 20px;
}

#whatisthesubdomain p {
    font-size: 15px;
}

/*FAQ*/

#FAQ {
    font-size: 10px;
    text-align: center;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 15px;
    position: absolute; /* Umožňuje nastavit pozici */
    top: 100px; /* Nastavení souřadnice y */
    left: 900px; /* Nastavení souřadnice x */
}

#FAQ1 {
    width: 500px;
    max-height: 500px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 15px;
    position: absolute; /* Umožňuje nastavit pozici */
    top: 100px; /* Nastavení souřadnice y */
    left: 400px; /* Nastavení souřadnice x */
}

#FAQ1 p {
    font-size: 20px;
    text-align: center;
}

#FAQ2 {
    width: 500px;
    max-height: 500px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 15px;
    position: absolute; /* Umožňuje nastavit pozici */
    top: 100px; /* Nastavení souřadnice y */
    left: 1000px; /* Nastavení souřadnice x */
}

#FAQ2 p {
    font-size: 20px;
    text-align: center;
}


/*SEC*/