/* Základní styl pro stránku */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Světlé pozadí pro světlý režim */
    color: #333; /* Tmavý text pro lepší čitelnost */
    transition: all 0.3s ease;
}

/* Tmavý režim */
body.dark-mode {
    background-color: #121212; /* Tmavé pozadí pro tmavý režim */
    color: #ccc; /* Světle šedý text pro tmavý režim */
}

/* Styl hlavičky */
header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Navigační menu */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

/* Styl pro jednotlivé položky v navigaci */
nav ul li {
    display: inline-block;
    margin: 0 20px;
}

/* Odkazy v navigaci */
nav ul li a {
    color: #333; /* Tmavě šedé odkazy pro bílý režim */
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Styl pro odkazy při najetí myší */
nav ul li a:hover {
    color: #ff7f50;
}

/* Sekce pro obsah */
section {
    padding: 30px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Tmavý režim - sekce */
body.dark-mode section {
    background-color: #2e2e2e;
    color: #f1f1f1;
}

/* Patička stránky */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

/* Tlačítko pro přepínání režimu */
button {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Styl pro tlačítko při najetí myší */
button:hover {
    background-color: #ff6347;
}

/* Tlačítko pro přepínání režimu v tmavém režimu */
body.dark-mode button {
    background-color: #fff;
    color: #333;
}

/* Patička stránky v tmavém režimu */
body.dark-mode footer {
    background-color: #121212;
    color: #ccc;
}
